.orange-bg{
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item{
  padding: 20px 40px;
  
}
.container{
  margin-bottom: 100px;
}
.price{
  color: #ff136f;
}
.buy-now-button{
background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
color: #fff;
border: none;
border-radius: 8px;
padding: 9px 25px;
cursor: pointer;
}
.cat1{
  background-image: linear-gradient(to bottom, #a8ff78 0%, #78ffd6 100%);
}
.cat2{
  background-image: linear-gradient(to bottom, #FDC830 0%,#F37335 100% );
}
.cat3{
  background-image: linear-gradient(to bottom, #7303c0 0%,#ec38bc 100%);
}
.cat1, .cat2, .cat3{
  padding: 10px 30px;
  border-radius: 10px;
}
.categoris h1{
  color: white;
  cursor: pointer;
}
.categoris img{
  width: 120px;
  cursor: pointer;
}